@functions{
    private readonly char[] _alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ".ToCharArray();
}
<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col"></th>
        @for (var x = 0; x < Model.GetLength(0); x++)
        {
            <th scope="col">@_alphabet[x]</th>
        }
    </tr>
    </thead>
    @for (var y = 0; y < Model.GetLength(1); y++)
    {
        <tr>
            <th scope="row" style="width: 5%;">@(y + 1)</th>
            @for (var x = 0; x < Model.GetLength(0); x++)
            {
                <td>
                    @if (Model[x, y].IsShip == false && Model[x, y].IsBomb)
                    {
                        <div class="imgContainer">
                            <img src="~/miss2.2.gif" alt="bomb" id="imageFullSize">
                        </div>
                    }
                    else if (Model[x, y].IsShip && Model[x, y].IsBomb)
                    {
                        <div class="imgContainer">
                            <img src="~/boatHit.gif" alt="bomb" id="imageFullSize">
                        </div>
                    }
                    else if (Model[x, y].IsShip && Model[x, y].IsBomb == false)
                    {
                        <div class="imgContainer">
                            <img src="~/boat.png" alt="bomb" id="imageFullSize">
                        </div>
                    }
                    else
                    {
                        <div class="content">@Model[x, y]</div>
                       
                    }
                </td>
            }
        </tr>
    }
</table>
